body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f0e6; /* Màu cam sáng cho nền*/
}

.form-content {
    width: 400px;
    margin: 0 auto; /* canh giữa cho form */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; /* màu nền trắng */
}

h1 {
    text-align: center;
    color: #f7931b;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    background-color: #f7931b; /* màu nền nút cam */
    color: #fff; /* màu chữ nút màu trắng */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #f57c00; /* Khi chuyển đến nút, màu nút sẽ chuyển sang màu cam thẫm */
}

.content{
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.container {
    display: grid;
    place-items: center;
}
.text{
    margin-top: 20px;
    color: #333;
}