body {
    background-color: #282a35; /* Màu nền cho toàn bộ trang */
    font-family: Arial, sans-serif; /* Font chữ chính */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: 10px 72px 50px 72px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-content {
    max-width: 400px;
    margin: auto;
    width: 360px;

}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    background-color: #007bff;
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; 
}

.btn_diff{
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_diff:hover {
    background-color: #ffb3b3;
}
a {
    text-decoration: none; 
    color: #007bff;  
}

a:hover {
    color: #0056b3;
}
.text{
    margin-top: 20px;
    color: #333;
}
.header_login_text{
    align-items: flex-start;
    font-family: Source Sans Pro;
    font-size: 15px;
    font-weight: 600;
    grid-area: header_login_text;
    margin-top: 2rem;
    text-align: end;
}
.signup_btn{
    color: #34a853;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
